Colegiados.Api/obj
Colegiados.Core/obj
Colegiados.Infrastruture/obj
Colegiados.UnitTest/obj
Colegiados.IntegrationTest/obj
Colegiados.Api/bin
Colegiados.Core/bin
Colegiados.Infrastruture/bin
Colegiados.IntegrationTest/bin
Colegiados.UnitTest/bin
.vs/Api_Colegiados/config/applicationhost.config
Colegiados.Model/obj
Colegiados.Model/bin
.vs/Api_Colegiados/v16/.suo
.vs/Api_Colegiados/DesignTimeBuild/.dtbcache.v2
*.suo
.vs/Api_Colegiados/DesignTimeBuild
Colegiados.Exception/bin
Colegiados.Exception/obj
LOG.sql
Log.txt.2022-05-06
Log.txt.2022-05-08
Logger/obj
Logger/bin
Colegiados.Api/Properties/PublishProfiles/FolderProfile1.pubxml.user
API_NET_Colegiados.zip
Colegiados.Api/Properties/PublishProfiles/FolderProfile1.pubxml
Colegiados.IntegrationTest/Colegiados.IntegrationTest.csproj.user
.vs/Api_Colegiados/v16
.vs/Api_Scoring/config
.vs
**/bin
**/obj
Scoring.Api/Properties/PublishProfiles
